* {
    box-sizing: border-box;
}

header {
    position: relative;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #DC92B1;
    color: #6E91DD
}

.cofnij {
    position: absolute;
    text-decoration: none;
    color:#31333F;
    font-size: 50px;
    margin: 0;
}

.cofnij:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

h1 {   
    font-size: 7vw;
    font-weight: 800;
    margin: 10px;
    margin-top: 10px;
    color: #3A6929;
}

h2 {
    font-size: 5vw;
    font-weight: 800;
    margin: 10px;
    color: #3A6929;
}

.kolo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #31333F;
    border-radius: 10px;
}

.triangle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px 0;
    background-color: #31333F;
    border-radius: 10px;
}

.triangle-container img {
    width: 5%;
    margin-top: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-items: center;
}

@keyframes obracanie {
    from { transform: rotate(0deg); }
    to { transform: rotate(1440deg); }
}

.animacja-kola {
    animation: obracanie 2s ease-out; /* ease out = zwalnia pod koniec */
}

.kolo img {
    display: block;
    margin: 0 auto;
    transition: transform 2s ease-out;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

button {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #6E91DD;
    color:#31333F;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

button:hover {
    opacity: 0.8;
    transition: 0.3s;
    transform: scale(1.1);
}

h4 {
    position: absolute;
    left: 50%;
    font-size: 10px;
    font-weight: 800;
    text-align: center;
    color: #31333F;
    margin: 0;
}

.wynik-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

footer {
    color: #3A6929;
}
